.form {   
    color: rgb(161, 158, 165);
}
.form p {
    color: rgb(161, 158, 165);
    margin: auto 50px;
}
.form h1 {
    margin-left: 70px;
}
.champ, .bouton {
    margin: 20px 50px; 
}  
#envoyer {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(89, 93, 93);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
#envoyer:hover {
    opacity: 90%;
}
#envoyer:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}