.nav { 
	list-style-type: none; 
	top: 0;
	width: 100%;  
    height: 4em; 
} 
#accueil-nav, #tutoriel-nav, #me-contacter-nav {
    color: rgb(89, 93, 93);
    text-decoration: none; 
}
#accueil-nav li, #tutoriel-nav li , #me-contacter-nav li {
    float: right;
    display: inline; 
    font-weight: bold;
    padding: 10px 20px;   
}
#accueil-nav:hover, #tutoriel-nav:hover, #me-contacter-nav:hover {
	color: rgb(127, 86, 189);
    transition: .2s;
}