body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: rgb(72, 79, 87);
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
p {
  color: rgb(89, 93, 93);
  font-size: 1em;
}
span {
  font-weight: bold;
} 